@{
    ViewData["Title"] = "Cuidado tubarão vai te pegar";
}
<h1>@ViewData["Title"]</h1>
<p>@ViewData["Email"]</p>

<address>
    <strong>Mais informações</strong> <a href="www.youtube.com">Saxofone</a>
</address>

<p>Use this page to detail your site's privacy policy.</p>
